/BWAPISettings.class
/Bot.class
/ClientStatus.class
/ClientStatusMessage.class
/DataMessage.class
/DataType.class
/Game.class
/GameResult.class
/GameStatus.class
/GameStorage.class
/InstructionMessage.class
/Map.class
/Message.class
/ServerShutdownMessage.class
/StartGameMessage.class
/TournamentModuleSettingsMessage.class
/TournamentModuleState.class
/AbortGameMessage.class
